{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
      },
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true,
          },
        ],
      ],
    },
  },
}
