{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "react-app",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": [
        "eslint-plugin-react",
        "prettier",
        "@typescript-eslint"
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    }
}