@import '~sanitize.css';
@import '~prismjs/themes/prism-okaidia.css';

html {
  font-size: 62.5%;
}

body {
  /* Currently ems cause chrome bug misinterpreting rems on body element */
  font-size: 1.6em;
  line-height: 1.6;
  color: #222;
}

a {
  color: #0696d7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #38abdf;
}

pre[class*='language-'] {
  font-size: 1.3rem;
}

:not(pre) > code[class*='language-'] {
  background-color: rgba(27, 31, 35, 0.05);
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
  color: #c7254e;
  text-shadow: none;
}
