@import '~minireset.css';
@import '~react-texty/styles.css';

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  -webkit-font-smoothing: antialiased;
  /* Currently ems cause chrome bug misinterpreting rems on body element */
  font-size: 1.6em;
  line-height: 1.6;
  color: #333;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1.6rem;
}

h2 {
  font-size: 2.6rem;
  margin: 0 0 1.2rem;
}

h3 {
  font-size: 2.2rem;
  margin: 0 0 0.8rem;
}

h4 {
  font-size: 1.8rem;
  margin: 0 0 0.4rem;
}

h5,
h6 {
  font-size: 1.6rem;
  margin: 0;
}

p {
  font-size: 1.6rem;
  margin: 0 0 1.2rem;
}

a {
  color: #0696d7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #38abdf;
}

code,
kbd,
pre,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

pre {
  font-size: 1.4rem;
}

:not(pre) > code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  color: #c7254e;
  background-color: #f3f3f3;
  border-radius: 0.3em;
}

[data-texty-tooltip] {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
}
